
#snipcart-footer{
    display: none;
}

#snipcart-header{
    color: #000000;
    background: #ffffff;
}
#snipcart-header .snip-header__total{
    padding: 0;
    background: transparent;
}
#snipcart-header .snip-header__total-label{
    color: #000000;
}

#snipcart-title{
    font-size: 1.5em;
}
#snipcart-actions .snip-btn{
    color: #000000;
    background: #ccbc53;
}
#snipcart-sub-content .snip-btn{
    color: #000000;
    background: #ccbc53;
}

#snipcart-sub-content .snip-product__empty{
    font-size: 1.2em;
}
#snipcart-main-content{
    font-family: 'Roboto', sans-serif;
}

.snip-product__remove{
    display:none;
}


#snipcart-close.snip-layout__close{
color: #000000;
font-size: 35px;
}