.blogpost__title{
    margin-top: 5px;
}

.blogpost .return{
    text-decoration: underline;
    color: inherit;
    transition: color .5s;
}

.blogpost{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.blogpost .return:hover{
    color: gray;
}