#navBar{
    width: 100%;
}

#navBar .navigation__link{
    color: black;
    transition: color 0.5s;
    padding: 0 0.7rem;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
}

#navBar .navigation__link:hover,
#navBar .navigation__link:active{
    color: gray;
}