#blog{
    min-height: 100vh;
    padding: 70px 15px 15px 15px;
    font-weight: 400;
    font-size: 1.1em;
}

#blog h3{
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 25px;
    font-family: 'Special Elite', cursive !important;
  font-size: 1.7em;
  line-height: 1.3em;
}
#blog img{
    display: block;
    margin: auto;
    width: 90%;
    max-width: 750px;
}
#recent-posts{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#blog h5{
    font-weight: 400;
    font-size: 1em; 
    text-decoration: none;
    line-height: 1px;
    margin-left: 25px;
}
