.ProductList-product .BuyButton{
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #f7e779;
    color: black;
    transition: background-color 0.2s;
}

.ProductList-product .BuyButton:hover,
.ProductList-product .BuyButton:active{
    background-color: #ccbc53;
}