#section_3{
    padding: 70px 35px 120px 35px;
    background: url(../../assets/butcher-paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_3__title{
    font-family: 'Permanent Marker', cursive;
    transform: rotate(-10deg);
    font-size: 2em;
    font-weight: 600;
}

.beef-diagram{
    width: 90%;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: -25px;
}
.deals{
    padding: 35px 35px 15px 35px;
    max-width: 400px;
    background-color: #282828;
    margin: 0px auto 50px auto;
    border-radius: 12px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

.deals__content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.deal__name-and-description{
    text-align: left;
    vertical-align: middle;
    min-width: 85px;
}

.deal__name{
    font-size: 1.7em;
}

.deal__price-per-unit{
    text-align: right;
    vertical-align: middle;
    min-width: 75px;
}

.deal__price{
    font-size: 1.7em;
}

#section_3 .phonenumber{
float: right;
text-align: center;
font-family: 'Permanent Marker', cursive;
transform: rotate(-20deg);
font-size: 2em;
font-weight: 600;
}